.box{
    height: 70px;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-left: 20px;
    
    
}


.buttonshop{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    width: 100%;
    height: 90px;
    background-color: #ce6e00af;
    box-shadow: 2px 4px 2px rgb(0, 0, 0);
    
    
}

.freccia{
    padding-top: 16px;
    color: rgb(0, 0, 0);
    align-content: right;
    
}