.container{
 margin-left: 18px;
 
}

.input{
    width: 26px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: transparent;
}
.button{
    background-color: rgb(255, 136, 0);
    color: rgb(0, 0, 0);
    border: transparent;
    margin-right: 17px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.377);
}

li{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}